.zds-button {
  font-size: 0.875rem;
  color: $color-btn-text;
  padding: 0.75rem;
  text-align: left;
}

button.zds-button {
  border: 0;
  background: transparent;
  outline: 0;
}

.zds-button__full {
  width: 100%;
  display: block;
}
