//brand colors
$color-brand1: get('colors.purple');
$color-brand2: get('colors.grey1');
$color-brand3: get('colors.grey2');
$color-brand4: get('colors.grey3');
$color-brand5: get('colors.grey4');
$color-brand6: get('colors.grey5');
$color-brand7: get('colors.grey6');
$color-brand8: get('colors.grey7');
$color-brand9: get('colors.grey8');

//website colors
$color-btn-text: get('colors.grey1');
$color-text: get('colors.grey1');
