.zds-content {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

@include breakpoint(m) {
  .zds-content {
    margin-left: $sidebar-width-m;
  }
}

@include breakpoint(l) {
  .zds-content {
    margin-left: $sidebar-width-l;
  }
}

@include breakpoint(xl) {
  .zds-content {
    margin-left: $sidebar-width-xl;
  }
}
