html,
body {
  font-size: get('base');
  font-family: get('typography.font');
  margin: 0;
  padding: 0;
  height: 100%;
  color: $color-text;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
