main {
  flex-grow: 1;
}

.zds-main {
  padding: $basic-spacing-xxs;
}

@include breakpoint(xxs) {
  .zds-main {
    padding: $basic-spacing-xxs;
    margin: $header-height-xxs 0 1.5rem;
  }
}

@include breakpoint(xs) {
  .zds-main {
    padding: $basic-spacing-xs;
    margin: $header-height-xs 0 2rem;
  }
}

@include breakpoint(s) {
  .zds-main {
    padding: $basic-spacing-s;
    margin: $header-height-s 0 3rem;
  }
}

@include breakpoint(m) {
  .zds-main {
    padding: $basic-spacing-m;
    margin: $header-height-m 0 3rem;
  }
}

@include breakpoint(l) {
  .zds-main {
    padding: $basic-spacing-l;
  }
}

@include breakpoint(xl) {
  .zds-main {
    padding: $basic-spacing-xl;
    margin: $header-height-xl 0 3rem;
  }
}
