.zds-searchbar {
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}
.zds-searchbar--input {
  background: #fff;
  color: #cdd0d9;
  font-size: 0.875rem;
  width: 100%;
  display: none;
}
.zds-searchbar--icon {
  width: 30px;
  height: 30px;
  color: #fff;
}

@include breakpoint(m) {
  .zds-searchbar {
    flex-basis: 80%;
    background: #fff;
    padding: 0.75rem 1.5rem;
  }
  .zds-searchbar--input {
    background: #fff;
    color: #cdd0d9;
    font-size: 0.875rem;
    width: 100%;
    display: block;
  }
  .zds-searchbar--icon {
    width: 24px;
    height: 24px;
    color: #9da3b4;
  }
}
