.zds-searchbar {
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}
.zds-searchbar--input {
  background: $color-brand9;
  color: $color-brand5;
  font-size: 0.875rem;
  width: 100%;
  display: none;
  border: none;
}
.zds-searchbar--icon {
  width: 30px;
  height: 30px;
  color: $color-brand9;
}

@include breakpoint(m) {
  .zds-searchbar {
    flex-basis: 80%;
    background: $color-brand9;
    padding: 0.75rem 1.5rem;
  }
  .zds-searchbar--input {
    background: $color-brand9;
    color: $color-brand5;
    font-size: 0.875rem;
    width: 100%;
    display: block;
  }
  .zds-searchbar--icon {
    width: 24px;
    height: 24px;
    color: $color-brand4;
  }
}
