.zds-sidebar {
  display: block;
  width: $sidebar-width-xxs;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  transition: transform 0.2s;
}

.zds-sidebar__hidden {
  transform: translateX(-100%);
}

.zds-sidebar--header {
  background: #27166f;
  //background: transparent;
  color: #fff;
  width: 100%;
  visibility: hidden;
}

.zds-sidebar--header-link {
  display: block;
  width: 100%;
  height: auto;
}

.zds-sidebar--container {
  height: calc(100vh - #{$header-height-xxs});
  padding: 1.5rem 1.5rem;
  border-right: 1px solid #f4f5f7;
  overflow: auto;
  background-color: #fff;
}

.zds-sidebar--container__header {
  height: $header-height-xxs;
  display: flex;
  align-items: center;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
}

.zds-sidebar--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.zds-sidebar--nav-subitem {
  margin-left: 1rem;
}

.zds-sidebar--logo {
  color: #fff;
}

@include breakpoint(xs) {
  .zds-sidebar {
    display: block;
    width: $sidebar-width-xs;
  }

  .zds-sidebar--container {
    padding: 1.5rem 2rem;
    height: calc(100vh - #{$header-height-xs});
  }

  .zds-sidebar--container__header {
    height: 68px;
  }
}

@include breakpoint(s) {
  .zds-sidebar {
    width: $sidebar-width-s;
  }

  .zds-sidebar--container {
    padding: 2rem 3rem;
  }

  .zds-sidebar--container__header {
    height: $header-height-s;
  }
}

@include breakpoint(m) {
  .zds-sidebar {
    display: block;
    width: $sidebar-width-m;
    transition: all 0s;
  }

  .zds-sidebar__hidden {
    transform: translateX(0);
  }

  .zds-sidebar--header {
    visibility: visible;
  }

  .zds-sidebar--container {
    padding: 2rem;
    height: calc(100vh - #{$header-height-m});
  }
  .zds-sidebar--container__header {
    height: $header-height-m;
  }
}

@include breakpoint(l) {
  .zds-sidebar {
    width: $sidebar-width-l;
  }
}

@include breakpoint(xl) {
  .zds-sidebar {
    width: $sidebar-width-xl;
  }

  .zds-sidebar--container {
    padding: 3rem;
  }

  .zds-sidebar--container__header {
    height: $header-height-xl;
  }
}
