//Grid sizes
$grid-col-width-xxs: 56px;
$grid-cols-xxs: 4;

$grid-col-width-xs: 50px;
$grid-cols-xs: 8;

$grid-col-width-s: 63px;
$grid-cols-s: 8;

$grid-col-width-m: 34px;
$grid-cols-m: 12;

$grid-col-width-l: 47px;
$grid-cols-l: 8;

$grid-col-width-xl: 85px;
$grid-cols-xl: 8;

$grid-col-width-xxl: 105px;
$grid-cols-xxl: 8;

//header heights
$header-height-xxs: 46px;
$header-height-xs: 68px;
$header-height-s: 84px;
$header-height-m: 104px;
$header-height-l: 104px;
$header-height-xl: 136px;
$header-height-xxl: 136px;

//sidebar widths
$sidebar-width-xxs: 216px;
$sidebar-width-xs: 276px;
$sidebar-width-s: 300px;
$sidebar-width-m: 224px;
$sidebar-width-l: 276px;
$sidebar-width-xl: 300px;
$sidebar-width-xxl: 300px;

//header + content basic spacing
$basic-spacing-xxs: 1rem 1.5rem;
$basic-spacing-xs: 1.5rem 2rem;
$basic-spacing-s: 2rem 3rem;
$basic-spacing-m: 2rem 3rem;
$basic-spacing-l: 2rem 3rem;
$basic-spacing-xl: 3rem;
$basic-spacing-xxl: 3rem;
