$grid-col-width-xxs: 56px;
$grid-cols-xxs: 4;

$grid-col-width-xs: 50px;
$grid-cols-xs: 8;

$grid-col-width-s: 63px;
$grid-cols-s: 8;

$grid-col-width-m: 34px;
$grid-cols-m: 12;

$grid-col-width-l: 47px;
$grid-cols-l: 8;

$grid-col-width-xl: 85px;
$grid-cols-xl: 8;

$grid-col-width-xxl: 105px;
$grid-cols-xxl: 8;
