@import 'variables';
@import 'mixins';

html,
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

.zds-site {
  display: flex;
}

.zds-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  min-height: 100vh;
}

.zds-header {
  background: #27166f;
  color: #fff;
  margin-bottom: 1.45rem;
}

.zds-header--container {
  display: inline-block;
  background: rgba(#fff, 0.5);
  vertical-align: middle;
}

.zds-header--headline {
  font-size: 1rem;
  margin: 0;
}

.zds-sidebar {
  display: none;
}

.zds-footer {
  background: #27166f;
  padding: 1.5rem 2rem;
}

.zds-footer--container {
  min-height: 24px;
}

@include breakpoint(xxs) {
  $grid-col-width: 56px;
  $grid-cols: 4;

  .zds-header {
    padding: 1rem 1.5rem;
  }

  .zds-header--container {
    height: 50px;
  }

  .zds-header--container__logo {
    max-width: $grid-col-width;
    margin-right: 1rem;
  }

  .zds-headline__primary {
    font-size: 1rem;
  }

  .zds-main {
    margin: 0 1.5rem;
  }

  .zds-footer {
    padding: 1.5rem 2rem;
  }
}

@include breakpoint(xs) {
  $grid-col-width: 50px;
  $grid-cols: 8;

  .zds-header {
    padding: 2rem 3rem;
  }

  .zds-header--container {
    height: 50px;
  }

  .zds-header--container__logo {
    max-width: $grid-col-width;
    margin-right: 1.5rem;
  }

  .zds-main {
    margin: 0 2rem;
  }
}

@include breakpoint(s) {
  $grid-col-width: 63px;
  $grid-cols: 8;

  .zds-header--container {
    height: 62px;
  }

  .zds-header--container__logo {
    max-width: $grid-col-width;
  }

  .zds-main {
    margin: 0 3rem;
  }

  .zds-footer {
    padding: 2rem 3rem;
  }
}
@include breakpoint(m) {
  $grid-col-width: 34px;
  $grid-cols: 12;

  .zds-header--container__logo {
    display: none;
  }

  .zds-sidebar {
    display: block;
    flex-basis: 224px;
  }

  .zds-sidebar--container {
    padding: 2rem;
  }
}

@include breakpoint(l) {
  $grid-col-width: 47px;
  $grid-cols: 8;

  .zds-sidebar {
    width: 276px;
  }
}

@include breakpoint(xl) {
  $grid-col-width: 85px;
  $grid-cols: 8;

  .zds-sidebar {
    flex-basis: 300px;
  }

  .zds-sidebar--container {
    padding: 3rem;
  }

  .zds-footer {
    padding: 3rem 3rem;
  }
}

@include breakpoint(xxl) {
  $grid-col-width: 105px;
  $grid-cols: 8;
}
