
@import 'variables';
@import 'mixins';



html, body{
  font-size: 16px;
  margin: 0;
  padding:0;
}

img{
  max-width: 100%;
  height: auto;
}

.zds-header{
  background: #27166f;
  color: #fff;
}

.zds-header--container{
  display: inline-block;
}

.zds-headline__primary{
  font-size: 1rem;
}

@include breakpoint(xxs){

  $grid-col-width: 56px;
  $grid-cols: 4;

  .zds-header{
    padding: 1rem 1.5rem;
  }

  .zds-header--container{
    margin-right: 1rem;

    &:first-child{
      max-width: $grid-col-width;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  .zds-headline__primary{
    font-size: 1rem;
  }

  

  .main-container{
    margin: 0 1.5rem;
  } 
}

@include breakpoint(xs){

  $grid-col-width: 50px;
  $grid-cols: 8;

  .zds-header{
    padding: 2rem 3rem;
  }

  .zds-header--container{
    margin-right: 1.5rem;

    &:first-child{
      max-width: $grid-col-width;
    }
  }

  .main-container{
    margin: 0 2rem;
  } 
}

@include breakpoint(s){

  $grid-col-width: 63px;
  $grid-cols: 8;

  .main-container{
    margin: 0 3rem;
  } 
}

@include breakpoint(m){

  $grid-col-width: 34px;
  $grid-cols: 12;
  
}

@include breakpoint(l){

  $grid-col-width: 47px;
  $grid-cols: 8;
  
}

@include breakpoint(xl){

  $grid-col-width: 85px;
  $grid-cols: 8;
  
}

@include breakpoint(xxl){

  $grid-col-width: 105px;
  $grid-cols: 8;
  
}
