@import './globals';
@import './variables';
@import './colors';
@import './mixins';
@import './button';
@import './sidebar';
@import './content';
@import './main';
@import './header';

.zds-site {
  //display: flex;
  position: relative;
}

.zds-footer {
  background: #27166f;
  padding: 1.5rem 2rem;
}

.zds-footer--container {
  min-height: 24px;
}

@include breakpoint(xxs) {
  .zds-footer {
    padding: 1.5rem 2rem;
  }
}

@include breakpoint(s) {
  .zds-footer {
    padding: 2rem 3rem;
  }
}

@include breakpoint(xl) {
  .zds-footer {
    padding: 3rem 3rem;
  }
}
